<!doctype html>
<html>
    <head>
        <!--外部js文件导入，以及icon的搭建-->
        <link rel="icon" href="../icon/yzx.ico" >
        <link rel="stylesheet"  href="../templates/A_main.css">
        <link rel="stylesheet"  href="../templates/B_inmain.css">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!--外部js文件导入，以及icon的搭建-->

        <meta charset="utf-8"> 
        

        <style>
            p{
                font-family: FZShuTi;
            }
            body{
                background-image: url(../static/images/bg.png);
                text-align:center;
            }
            img{
                
            }
        </style>
    </head>
    <body>
        <img src="../static/images/gwf.jpg">
    </body>
</html>